* {Box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: dimgrey;
}

.navbar {
    margin: 10px;
    padding: 15px;
}

.navigation-right {
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    right: 20px;
    cursor: pointer !important;
}

.jumbotron {
    background-image: url(../images/stefan-stefancik--g7axSVst6Y-unsplash\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    color: white;
    font-weight: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.jumbotron2 {
    margin: 80px;    
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.container {
    margin-bottom: 10px;    
}

.card, .card1 {
    margin: 20px; 
    display: flex !important; 
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    height: 550px !important;
    padding-left: 50px;
    min-width: 600px !important;
    max-height: fit-content;
    padding: 20px;
}

.card img, .card1 img {
    max-width: 600px !important;
    max-height: 300px!important;
}

.card-body{
    padding-left: 50px;
    max-width: 300px;
    font-size: medium;
}

.card-body1{
    padding: 50px;
    max-width: 900px;
    font-size: medium;
    padding: 10px;
    margin: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.card-contact-section {
    font-size: large;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.list-group {
    flex-direction: row !important;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
    background-color: #f8f9fa;
}

.list-group-item {
    background-color: #f8f9fa !important;
    color: black;
}

@media screen and (max-width: 800px) {
    .navigation-right {
        display: none !important;
    }
    .card1 {
        flex-direction: column !important;
    }
    .card-body1 {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1800px) {
    .card {
        flex-direction: column !important;
    }
}
